* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
}
i {
    width: 25px;
    text-align: center;
    line-height: 8px;
    padding-top: 3px;
    height: 25px;
    cursor: pointer;
    border: 1px solid black;
    margin: 5px;
}

.opacity {
    opacity: 0.3;
}
.hide {
    /* display: none; */
    visibility: hidden;
}

.none {
    display: none;
}
.show {
    display: block !important;
}
